/* Shimmer effect */
@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.shimmer {
    background: linear-gradient(90deg, #f5f5f5 25%, #e0ae2a 50%, #f5f5f5 75%);
    background-size: 200% 100%;
    animation: shimmer 2s infinite;
}

/* Neon Glow effect */
.neon {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.4), 0 0 15px rgba(255, 255, 255, 0.2), 0 0 20px #ff0000, 0 0 25px #ff0000, 0 0 30px #ff0000;
}

/* Glass effect */
.glass-effect {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

.loading {
  /* Adjusted to be relative to its container instead of full-screen */
  display: inline-block;
  width: 100%;
  height: 100px;
}

.loading-text {
  position: relative;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.loading-text .loading-text-words {
  /* display: inline-block; */
  margin: 0 5px;
  color: #000; /* Adjust color as needed */
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  animation: blur-text 0.5s ease-in-out infinite alternate;
}

@keyframes blur-text {
  0% { filter: blur(0px); }
  100% { filter: blur(2px); }
}
