@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .custom-scrollbar::-webkit-scrollbar {
      display: none; /* Hides the scrollbar */
    }
  
    .custom-scrollbar {
      -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
      scrollbar-width: none; /* Hides scrollbar in Firefox */
    }
  }
  