@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
@font-face{
  font-family: 'gabriola';
  src: url('/src/assets/fonts/gabriola.woff2') format('woff2'),
  url('/src/assets/fonts/gabriola.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

*{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.035em;
  font-weight: 500;
}
