@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;  
      scrollbar-width: none;  
  }
}

@font-face{
  font-family: 'Gabriola';
  src: url('/src/assets/fonts/gabriola.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block; 
}

html {
  font-family: 'Gabriola', sans-serif;
}

* {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.035em;
  font-weight: 600;
}
