.user-profile-container {
  position: relative;
  min-height: 100vh;
  padding: 1rem;
}

.header {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  color: white;
  font-family: serif;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.logo {
  height: 1.25rem;
}

.tagline {
  font-size: 1.25rem;
  font-weight: 500;
  background: linear-gradient(to right, #00AA4F, #E0AE2A, #EB2D2E);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: moveText 4s linear infinite;
}

@keyframes moveText {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.main-content {
  margin-top: 4rem;
  padding: 1.25rem;
  border: 2px solid #E0AE2A;
  border-radius: 0.75rem;
}

.divider-line {
  width: 60%;
  margin: 2rem auto;
  border-top: 2px solid #E0AE2A;
  margin-top: 54px;
}

.image-sections {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-section {
  flex: 1;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
}

.image-container {
  height: 200px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: scale(1.1);
}

.image-description {
  padding: 1rem;
  text-align: center;
}

@media (min-width: 778px) {
  .main-content {
      display: flex;
      justify-content: space-between;
  }

  .image-sections {
      flex-direction: row;
  }

  .image-section {
      flex: 1;
  }
}

@keyframes goldenGlow {
  0% {
    box-shadow: 0 0 10px 0 rgba(255, 215, 0, 0.6); /* Gold */
  }
  25% {
    box-shadow: 0 0 20px 5px rgba(255, 200, 87, 0.8); /* Warm Amber */
  }
  50% {
    box-shadow: 0 0 30px 15px rgba(255, 165, 0, 0.9); /* Deep Golden Orange */
  }
  75% {
    box-shadow: 0 0 20px 5px rgba(255, 200, 87, 0.8);
  }
  100% {
    box-shadow: 0 0 10px 0 rgba(255, 215, 0, 0.6);
  }
}

.group:hover {
  animation: waveGlow 10s ease-in-out infinite;
}

